.SearchForm {
    width: 100%;
    background-color: grey;
    height: 40px;
    text-align: center;
    padding-top: 6px;
    font-size: 20px;
    
}

fieldset {
    padding: 0;
}
input {
    background-color: navajowhite;
}